<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">
            <% if(user.local.email != null) { %>
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Local</h3>

                        <p>
                            <strong>id</strong>:
                            <%= user._id %><br>
                                <strong>email</strong>:
                                <%= user.local.email %><br>
                                    <strong>password</strong>:
                                    <%= user.local.password %>
                        </p>

                    </div>
                </div>
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>
            <% if(user.facebook.token != null) { %>
                <div class="col-sm-6">
                        <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
                    <div class="well">

                            <strong>id</strong>: <%= user.facebook.id %><br>
                        <p>
                            <strong>token</strong>: <%= user.facebook.token %><br>
                            <strong>email</strong>: <%= user.facebook.email %><br>
                            <strong>name</strong>: <%= user.facebook.name %>
                        </p>
                        <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                    </div>
                </div>
                <% } else { %>
                    <a href="/connect/facebook" class="btn btn-primary">Connect Google</a>
                <% } %>

            <% if(user.twitter.token != null) { %>
                <div class="col-sm-6">
                        <h3 class="text-primary"><span class="fa fa-twitter"></span> Twitter</h3>
                    <div class="well">
                        <strong>id</strong>: <%= user.twitter.id %><br>
                        <strong>token</strong>: <%= user.twitter.token %><br>
                        <strong>username</strong>: <%= user.twitter.username %><br>
                        <strong>displayName</strong>: <%= user.twitter.displayName %>
                        </p>
                        <a href="/unlink/twitter" class="btn btn-default">Unlink</a>
                    </div>
                </div>
                <% } else { %>
                    <a href="/connect/twitter" class="btn btn-default">Connect Twitter</a>
                <% } %>

            <% if(user.google.token != null) { %>
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google</h3>
                            <p>
                                <strong>id</strong>: <%= user.google.id %><br>
                                <strong>token</strong>: <%= user.google.token %><br>
                                <strong>email</strong>: <%= user.google.email %><br>
                                <strong>name</strong>: <%= user.google.name %>
                            </p>
                            <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                    </div>
                </div>
            <% } else { %>
                <a href="/connect/google" class="btn btn-danger">Connect Google</a>
            <% } %>
        </div>

    </div>
</body>

</html>